body, html {
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif; 
    background-color: #EAE7DC; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

#user-settings {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px; 
}

#icon-selection, #background-selection {
    margin-top: 20px;
}

.icon-btn, .bg-btn {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


#complete-settings {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#complete-settings:hover {
    background-color: #0056b3;
}

.icon-btn.selected, .bg-btn.selected {
    border: 2px solid #007bff;
}

#chat-container {
    display: flex;
    position: relative; 

    flex-direction: column;
    padding-top: 40px; /* ヘッダーの高さ分のパディングを追加 */

    justify-content: space-between;
    height: 90vh;
    width: 100%; 
    max-width: 800px; 
    margin: 5vh auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#chat-header {
    position: absolute; /* chat-container 内で絶対位置を指定 */
    top: 0; /* コンテナの上端に配置 */
    left: 0; /* コンテナの左端に配置 */
    width: 100%; /* コンテナの幅いっぱいに広げる */
    padding: 10px; /* 内部の余白 */
    background-color: #f8f9fa8f; /* 背景色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 影を追加 */
    z-index: 10; /* 他の要素より前面に表示 */
    display: flex;
    justify-content: space-between; /* 子要素を両端に配置 */
    align-items: center; /* 子要素を垂直方向の中心に配置 */
}

#room-selector {
    display: block; /* ブロック要素として表示 */
    width: 50%; /* 幅いっぱいに広げる */
    padding: 10px 15px; /* テキストとの余白 */
    font-size: 16px; /* フォントサイズ */
    border: 1px solid #ced4da; /* ボーダー */
    border-radius: 20px; /* 角を丸くする */
    -webkit-appearance: none; /* デフォルトのデザインを解除 */
    -moz-appearance: none; /* デフォルトのデザインを解除 */
    appearance: none; /* デフォルトのデザインを解除 */
    background-color: white; /* 背景色 */
    cursor: pointer; /* カーソルをポインターに */
    outline: none; /* アウトラインを無しに */
}

#chat-header .room-title {
    font-size: 18px;
    flex-grow: 1; /* 左側のスペースを最大限に利用 */
    text-align: left;
    margin-left: 15px; /* テキストとボーダーの間の余白 */
}

#room-selector:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#input-container {
    display: flex;
    align-items: center;
    background-color: #e9e7dc91;
    padding: 10px;
    width: calc(100% - 20px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: auto; 
}

#message-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px; 
    outline: none; 
}

.input-icon {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #555;
}

.input-icon.attach, .input-icon.record {
    margin-right: 5px;
}

#send-button {
    background: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

#send-button:hover {
    background-color: #0056b3;
}

.message-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-row.received {
    flex-direction: row;
    justify-content: flex-start;
}

.message-row.received .message-icon {
    margin-right: 10px;
}

.message-row.received .message-text {
    background-color: #f2f2f2b0;
}

.message-row.sent {
    flex-direction: row-reverse;
}

.message-row.sent .message-text {
    background-color: #007bff;
    color: white;
    margin-left: 10px;
}

.message-text {
    white-space: pre-wrap;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-right: 10px;
    word-wrap: break-word;
    max-width: calc(100% - 50px);
    position: relative; /* 相対位置を指定 */
    padding: 10px 15px; /* 右側に余白を増やしてタイムスタンプ用のスペースを作る */
}

.message-time {
    font-size: 0.5em;
    color: #666;
    position: absolute; /* 絶対位置を指定 */
    bottom: 5px; /* 下から5pxの位置 */
    right: 10px; /* 右から10pxの位置 */
}



    /* Responsive design */
    @media (max-width: 600px) {
        #chat-container {
            height: 100vh;
            margin: 0;
            border-radius: 0;
        }

        #input-container {
            padding: 10px;
        }

        .fa {
        font-size: 18px;
        }

        #message-input {
            width: calc(100% - 60px); 
        }
        
        #send-button {
            min-width: 40px;
        }

        #chat-header {
            padding: 5px; /* モバイルビューでは余白を少なく */
        }
    
        #room-selector {
            font-size: 14px; /* モバイルビューではフォントサイズを小さく */
        }
    }